*{
    text-align: center;
}


.header{
    /* max-height: 10rem; */
    background-color: rgb(107, 107, 107);
    color: white;
    text-align: right;
}

.iconLight{
    margin-right: 10px;
    cursor: pointer;
}